@import url('../../scripts/reveal.js/dist/reveal.css');
/* @import url('../../scripts/reveal.js/plugin/highlight/monokai.css'); */
@import url('../../scripts/reveal.js/dist/theme/serif.css');


body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.reveal .sl-row {
  display: flex !important;
  flex-direction: row !important;
  gap: 75px;
  align-items: center;
}

.reveal h1 {
  font-size: 2.5rem;
}

.reveal h2 {
  font-size: 1.5rem;
}

.reveal ul {
  list-style: none;
  padding: 0;
}

.reveal li {
  list-style: none;
  padding: 5px;
  font-size: large;
}

.reveal p {
  line-height: normal;
}

/* .reveal .slides .sl-end {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reveal .slides .sl-end > div:nth-child(2),
.sl-end > div:nth-child(3) {
  display: inline-block;
  width: 50%;
} */